<footer class="text-center font-semibold">
  <span class="text-text">Created by</span>
  <a
    target="_blank"
    href="https://github.com/isakiDev"
    class="underline text-mauve transition duration-200 hover:brightness-85 hover:shadow-sm"
    >isakiDev
  </a>
  <span class="size-" aria-hidden="true">❤️</span>
</footer>
